
<section id="transaction" class="p-terms_wrap sec_under inner">
  <div class="under_ttl">
    <h2 class="ttl_under">特定商取引法に基づく表記</h2>
    <p class="ttl_top">TERMS</p>
  </div>
  <div class="inner_small" data-aos="fade">
    <table>
      <tr>
        <th>販売業者</th>
        <td>有限会社ダイチ通商</td>
      </tr>
      <tr>
        <th>運営統括責任者</th>
        <td><span>狩俣 順市</span></td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>〒901-0305 沖縄県糸満市西崎町4-17-13</td>
      </tr>
      <tr>
        <th>TEL</th>
        <td>
          <a href="tel:098-840-3386">098-840-3386</a>
        </td>
      </tr>
      <tr>
        <th>FAX</th>
        <td>098-840-3387</td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><span>xxxx@sample.com</span></td>
      </tr>
      <tr>
        <th>取扱商品</th>
        <td>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</td>
      </tr>
      <tr>
        <th>販売価格</th>
        <td>
          各商品ページをご参照ください。
        </td>
      </tr>
      <tr>
        <th>商品代金以外の必要料金</th>
        <td>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </td>
      </tr>
      <tr>
        <th>送料について</th>
        <td>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </td>
      </tr>
      <tr>
        <th>申し込みの有効期限</th>
        <td>
          原則、受注確認（受注確認の為の自動送信メール発信）後、10日間とします。
        </td>
      </tr>
      <tr>
        <th>不良品</th>
        <td>
          テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </td>
      </tr>
      <tr>
        <th>販売数量</th>
        <td>
          テキストテキストテキスト
        </td>
      </tr>
      <tr>
        <th>引き渡し時期</th>
        <td>
          代金のお支払い確定後、5日以内に発送いたします。<br>
          後払い決済の場合は注文確定後、5日以内に発送いたします。<br>
        </td>
      </tr>
      <tr>
        <th>お支払い方法</th>
        <td>
          クレジット・代引き
        </td>
      </tr>
      <tr>
        <th>お支払い期限</th>
        <td>
          代金引換の場合<br>
          商品のお届け時に、配達員に代金のお支払いをお願いします。
        </td>
      </tr>
      <tr>
        <th>返品・交換について</th>
        <td>
          テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </td>
      </tr>
    </table>
  </div><!-- /.inner_small -->
</section><!-- /.p-company_wrap -->