
<section id="company" class="sec_under inner">
    <div class="under_ttl">
      <h2 class="ttl_under">会社概要</h2>
      <p class="ttl_top">COMPANY</p>
    </div>
    <div class="p-terms_wrap inner_small" data-aos="fade">
      <table>
        <tr>
          <th>会社名</th>
          <td>有限会社ダイチ通商</td>
        </tr>
        <tr>
          <th>代表者名</th>
          <td>狩俣 亮樹</td>
        </tr>
            <th>事業内容</th>
            <td>フルーツジュース、天然太もずく、関連調味料の製造・販売。<br>
              HACCP登録企業</td>
          </tr>
        <tr>
          <th>所在地</th>
          <td>〒901-0305　沖縄県糸満市西崎町4-17-13</td>
        </tr>
        <tr>
          <th>TEL</th>
          <td>
            <a href="tel:098-840-3386">098-840-3386
            </a>
          </td>
        </tr>
        <tr>
          <th>FAX</th>
          <td>098-840-3387</td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td>（月～金）8：30～17：00　（土）8：30～11：00</td>
        </tr>
        <tr>
          <th>定休日</th>
          <td>日曜・祝祭日</td>
        </tr>
        </table>
        </div>
  </section>