
<div class="fv_wrappar_about">
  <div class="fv_about rellax" data-rellax-speed="-5"></div>
<div class="fv_img_about rellax" data-rellax-speed="4" data-rellax-mobile-speed="2">
    <img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/fv_about_img.png" alt="">
  </div>
  <div class="fv_about_ttl rellax" data-rellax-speed="-15" data-rellax-percentage=".5 .5">
    <p class="ttl_top">ABOUT US</p>
    <h2 class="ttl">私たちについて</h2>
  </div>
</div>

  <main>
    <section id="about_top_msg">
      <div class="ctn inner">
        <div class="ctt_img"> 
        <ul class="about_slide">
          <li><img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_img1.png" alt=""></li>
          <li><img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_img2.png" alt=""></li>
        </ul>
       </div> 
        <div class="ctt">
          <h2 class="ttl">天然にこだわった太もずくと、<br>
            手塩にかけたシークヮサー</h2>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <div class="link">
            <a href="#"><img class="img_bg" src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_link_bg1.jpg" alt="">
              <img class="img_ctt" src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_link1.png" alt="天然太もずく"><span><img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_link_arrow.png" alt=""></span></a>
            </div>
            <div class="link">
              <a href="#"><img class="img_bg" src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_link_bg2.jpg" alt="">
                <img class="img_ctt" src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_link2.png" alt="私が育てたシークァーサー"><span><img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_link_arrow.png" alt=""></span></a>
              </div>
        </div>
    </section>

    <section id="img_sec">
      <div> 
      <picture><source srcset="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_img_sec.jpg" media="(min-width:600px)">
        <img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_img_sec_sp.jpg" alt=""></picture>
      </div>

      <div class="img_ctt rellax" data-rellax-speed="2" data-rellax-mobile-speed="1">
        <img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_img_sec_img.jpg" alt="">
      </div>
    </section>


    <section id="producer">
      <div class="ctn inner">
        <div class="ttl_ctn">
          <h2 class="ttl">生産者の想いに寄り添う</h2>
        </div>
        <div class="ctt">
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        </div>
      </div>

      <div class="producer_img">
        <picture><source srcset="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_producer_bg.jpg" media="(min-width:600px)">
          <img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_producer_bg_sp.jpg" alt=""></picture>
        <div class="img_ctt rellax" data-rellax-speed="2">
          <img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_producer.jpg" alt="">
        </div>
      </div>
    </section>

    <section id="products" data-aos="fade">
      <div class="inner">
        <div class="ctn">
          <div class="ctt">
            <h2 class="ttl_img"><img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_ttl1.png" alt="俺がとった天然太もずく"></h2>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_producer_mozuku.png" alt="">
          </div>
          <div class="ctt">
            <h2 class="ttl_img"><img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_ttl2.png" alt="私が育てたシークァーサー"></h2>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_producer_shikuwasa.png" alt="">
          </div>
        </div>
    </div>
    <div class="bg_img_x">
      <picture><source srcset="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_bg_x.png" media="(min-width:600px)">
        <img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/about_bg_x_sp.png" alt=""></picture>
    </div>
</section>
<div class="products_bg_img" data-aos="fade" data-aos-delay="200">
  <img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_about_bg.png" alt="">
</div>

      <section class="category category_under" data-aos="fade">
        <p class="ttl_top">CATEGORY</p>
        <h2 class="ttl">カテゴリ</h2>
        <div class="inner">
        <ul>
          <li><a href="/collections/mozuku"><div class="wrappar"><img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_category_1.jpg" alt=""></div>天然太もずく</a></li>
          <li><a href="/collections/shikwasa"><div class="wrappar"><img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_category_2.jpg" alt=""></div>大宜味産シークワーサー</a></li>
          <li><a href="/collections/set"><div class="wrappar"><img src="https://cdn.shopify.com/s/files/1/0889/2976/3630/files/top_category_3.jpg" alt=""></div>セット商品</a></li>
        </ul>
        
        <div class="btn"><a href="item-list.html">全ての商品<span class="arrow">
          <svg class="icon_arrow" viewBox="0 0 14 11" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 5.5C0.5 5.22386 0.723858 5 1 5H12.4C12.6761 5 12.9 5.22386 12.9 5.5C12.9 5.77614 12.6761 6 12.4 6H1C0.723858 6 0.5 5.77614 0.5 5.5Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.54635 0.646447C7.74161 0.451184 8.05819 0.451184 8.25346 0.646447L13.107 5.5L8.25346 10.3536C8.05819 10.5488 7.74161 10.5488 7.54635 10.3536C7.35109 10.1583 7.35109 9.84171 7.54635 9.64645L11.6928 5.5L7.54635 1.35355C7.35109 1.15829 7.35109 0.841709 7.54635 0.646447Z"/>
            </svg>
        </span></a></div>
      </div>
    </section>
  </main>